header a,
footer a {
  padding: 1em;
  text-decoration: none;
  border-radius: 0.5em;
}


.icon-frame {
  border-radius: 0.5em;
  padding: 1em;
}

.icon-container {
  position: relative;
  width: 10em;
  height: 10em;

  >icon,
  >icon-stack {
    position: absolute;
  }
}

.color-container {
  display: flex;
  align-items: flex-end;

  jo-color ::ng-deep input {
    border-right: none !important;
  }

  &.fill button:nth-last-child(2) {
    border-left: none;
    border-right: none;
  }

  button:last-child {
    border-left: none;
  }
}

.type-container {
  display: flex;
  align-items: flex-end;

  jo-select {
    flex: 1;
  }

  jo-select ::ng-deep div[role="group"] button:last-child {
    border-right: none !important;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  button:last-child {
    border-left: none;
  }
}

.heading {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  height: fit-content;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}