<header class="d-flex gap-2 my-5 justify-content-between align-items-center">
  <div class="d-flex flex-column gap-2">
    <h1>Icon</h1>
    <small>Angular Library</small>
  </div>
  <div class="d-flex gap-2">
    <a href="https://www.npmjs.com/package/@joster-dev/icon">
      Package
    </a>
    <a href="https://github.com/joster-dev/icon">
      Github
    </a>
  </div>
</header>

<main class="d-flex flex-column gap-3">
  <div>
    <jo-text
      [(ngModel)]="searchTerm"
      [maxLength]="100"
      placeholder="Search {{iconTypes.length}} icons..."
    ></jo-text>
  </div>

  <div class="d-flex gap-2 flex-wrap justify-content-center">
    <button
      *ngFor="let icon of iconTypes"
      class="br-start br-end"
      [hidden]="!filteredTypes.includes(icon)"
      [title]="icon"
      (click)="typeItem.type = icon"
    >
      <icon
        [type]="icon"
        size="3em"
        [fillOpacity]="0"
      ></icon>
    </button>
  </div>

  <div
    *ngIf="filteredTypes.length === 0"
    class="d-flex justify-content-center"
  >
    <button
      class="br-start br-end"
      (click)="onClickRefine()"
    >
      Please refine your search
    </button>
  </div>

  <div class="card">
    <div class="card-header">
      <h2>Icon Demo</h2>
    </div>
    <div class="card-body grid">
      <div class="d-flex flex-column gap-3 my-3">
        <jo-select
          [(ngModel)]="typeItem.type"
          required
          [items]="iconTypeItems"
        >
          icon
        </jo-select>
        <button
          [disabled]="typeItem.fill.length >= 5"
          class="br-start br-end"
          (click)="typeItem.fill.push({ color: '000000'})"
        >
          add fill color
        </button>
        <div
          *ngFor="let fill of typeItem.fill; let idx = index"
          class="color-container fill"
        >
          <jo-color
            [(ngModel)]="fill.color"
            [borderRadiusRight]="false"
            name="fill-{{typeItem.type}}-{{idx}}"
          >
            fill color {{idx + 1}}
          </jo-color>
          <button
            title="Transparent"
            [class.active]="fill.color === null"
            (click)="fill.color = null"
          >
            <icon
              type="clear"
              size="1em"
            ></icon>
          </button>
          <button
            title="Remove"
            class="br-end"
            (click)="typeItem.fill.splice(idx, 1)"
          >
            <icon
              type="times"
              size="1em"
              [fill]="[null, 'current']"
              [fillRotate]="90"
            ></icon>
          </button>
        </div>
        <jo-choice
          [(ngModel)]="typeItem.fillRotate"
          name="fillRotate"
          required
          [items]="rotateItems"
        >
          fill rotate
        </jo-choice>
        <jo-choice
          [(ngModel)]="typeItem.fillOpacity"
          name="fillOpacity"
          required
          [items]="opacityItems"
        >
          fill opacity
        </jo-choice>
        <button
          [disabled]="typeItem.stroke.length >= 5"
          class="br-start br-end"
          (click)="typeItem.stroke.push({ color: '000000'})"
        >
          add stroke color
        </button>
        <div
          *ngFor="let stroke of typeItem.stroke; let idx = index"
          class="color-container"
        >
          <jo-color
            [(ngModel)]="stroke.color"
            [borderRadiusRight]="false"
            name="stroke-{{typeItem.type}}-{{idx}}"
          >
            stroke color {{idx + 1}}
          </jo-color>
          <button
            title="Remove"
            class="br-end"
            (click)="typeItem.stroke.splice(idx, 1)"
          >
            <icon
              type="times"
              size="1em"
              [fill]="[null, 'current']"
              [fillRotate]="90"
            ></icon>
          </button>
        </div>
        <jo-choice
          [(ngModel)]="typeItem.strokeRotate"
          name="strokeRotate"
          required
          [items]="rotateItems"
        >
          stroke rotate
        </jo-choice>
        <jo-choice
          [(ngModel)]="typeItem.spin"
          name="spin"
          [items]="spinItems"
        >
          spin
        </jo-choice>
      </div>
      <div class="heading pt-3">
        <icon
          [type]="typeItem.type"
          [fill]="mapColors(typeItem.fill)"
          [fillRotate]="typeItem.fillRotate"
          [fillOpacity]="typeItem.fillOpacity"
          [stroke]="mapColors(typeItem.stroke)"
          [strokeRotate]="typeItem.strokeRotate"
          [spin]="typeItem.spin"
        ></icon>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h2>Icon Stack Demo</h2>
    </div>
    <div class="card-body grid">
      <div class="d-flex flex-column gap-3 my-3">
        <button
          class="br-start br-end"
          (click)="onClickAddIcon()"
        >
          add icon
        </button>
        <div
          *ngFor="let type of iconStackDemo; let idx = index"
          class="type-container"
        >
          <jo-select
            [(ngModel)]="iconStackDemo[idx]"
            [items]="iconTypeItems"
            required
            [borderRadiusRight]="false"
          >
            icon {{idx + 1}}
          </jo-select>
          <button
            title="Remove"
            class="br-end d-flex"
            (click)="iconStackDemo.splice(idx, 1)"
          >
            <icon
              type="times"
              size="1em"
              [fill]="[null, 'current']"
              [fillRotate]="90"
            ></icon>
          </button>
        </div>
      </div>
      <div class="heading p-1">
        <icon-stack>
          <icon
            *ngFor="let type of iconStackDemo"
            [type]="type"
            [fill]="mapColors(typeItem.fill)"
            [fillRotate]="typeItem.fillRotate"
            [fillOpacity]="typeItem.fillOpacity"
            [stroke]="mapColors(typeItem.stroke)"
            [strokeRotate]="typeItem.strokeRotate"
          ></icon>
        </icon-stack>
      </div>
    </div>
  </div>
</main>

<footer class="d-flex my-5 justify-content-end">
  <a href="https://joster-dev.github.io/">
    © Jacob Osterhout 2024
  </a>
</footer>