@use "@joster-dev/style/scss/all.scss";

body {
  margin: auto;
  padding: 0 0.5em;
  max-width: 720px;
  color: #eee;
  background: repeating-conic-gradient(#1B1B1B 0 25%, #111 0 50%) 0 / 2em 2em;
}


.col-1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;
}

.col-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (max-width: 720px) {
    grid-template-columns: 1fr;
  }
}

.col-1-1 {
  grid-gap: 1.25em;
}

.pos-sticky {
  position: sticky;
  top: 0;
}

code {
  font-family: inherit;
}